<div id="buyticket" class="container-fluid p-4">

    <div id="buyticketitems" class="d-flex flex-column p-2 text-light"> <!--main container-->

        <!--region page title-->
        <div id="buytickettitle" class="mx-auto py-2 px-4 rounded"> <!--first flex item from main-->
            <h1><strong>Your ticket for Rockfair</strong></h1>
        </div>
        <!--endregion-->

        <!--region buy ticket form-->
        <div id="buyticketformdiv" class="d-flex w-50 mx-auto rounded my-5"> <!--second flex item from main-->

            <form class="flex-column d-flex w-100 rounded p-4">
                <label class="mx-auto rounded border-0 bg-dark p-2 form-row justify-content-between w-50 my-4">
                    Amount of tickets: <select class="w-25" [(ngModel)]="amountoftickets" (change)="getTotalPrice()" name="amountoftickets">
                        <option selected [value]=1>1</option>
                        <option selected [value]=2>2</option>
                        <option selected [value]=3>3</option>
                        <option selected [value]=4>4</option>
                        <option selected [value]=5>5</option>
                        <option selected [value]=6>6</option>
                    </select>
                </label> <!--number of tickets select-->

                <label class="my-2 flex-column w-50 mx-auto text-center" *ngIf="2 <= amountoftickets">
                    <span class="bg-dark rounded border-0 p-2">Other emails (they must have accounts)</span>
                    <input class="mx-auto mt-3 p-1 rounded border-0 bg-dark text-light p-1 form-row" type="email" name="otheremail2" [(ngModel)]="email2" *ngIf="2 <= amountoftickets">
                    <input class="mx-auto mt-3 p-1 rounded border-0 bg-dark text-light p-1 form-row" type="email" name="otheremail3" [(ngModel)]="email3" *ngIf="3 <= amountoftickets">
                    <input class="mx-auto mt-3 p-1 rounded border-0 bg-dark text-light p-1 form-row" type="email" name="otheremail4" [(ngModel)]="email4" *ngIf="4 <= amountoftickets">
                    <input class="mx-auto mt-3 p-1 rounded border-0 bg-dark text-light p-1 form-row" type="email" name="otheremail5" [(ngModel)]="email5" *ngIf="5 <= amountoftickets">
                    <input class="mx-auto my-3 p-1 rounded border-0 bg-dark text-light p-1 form-row" type="email" name="otheremail6" [(ngModel)]="email6" *ngIf="6 <= amountoftickets">
                </label> <!--emails of other people-->

                <label class="mx-auto rounded border-0 bg-dark p-2 form-row justify-content-between w-50 my-4">
                    Are you camping?<input type="checkbox" (change)="isCamping = !isCamping; getTotalPrice()">
                </label> <!--check if camping-->

                <span class=" mx-auto justify-content-between my-4 rounded border-0 bg-dark p-2 w-50 form-row">
                    <span>Your price: </span>
                    <span>{{price}}</span>
                </span> <!--display price-->

                <button class="rounded border-0 btn-dark p-2 w-75 mx-auto my-4" (click)="buyTicket()">Order</button> <!--submit-->

            </form>

        </div>
        <!--endregion-->

    </div>

</div>
