<div id="fairinfo" class="container-fluid p-4">

    <!--region Main container-->
    <div class="d-flex flex-column">

        <div id="fairinfotitle" class="mx-auto text-light p-2 rounded m-2"> <!--first flex item from main-->
            <h1><strong>About the fair</strong></h1>
        </div> <!--page title-->

        <div class="rounded d-flex flex-column text-light align-items-center mt-5"> <!--second flex item from main-->

            <div id="fairinfoitems" class="w-50 p-3 my-auto rounded d-flex flex-row justify-content-center p-4 flex-wrap text-light">

                Apart from the concert, we also have a fair to enjoy. There are plenty of activities and attractions to go to and explore.
                There are things to do for young and old. Food stands are a plenty and rollercoasters for the kids. 
                There is a restaurant on-site which is open all day and all night long.
                This fair will be available on saturday only. The concert is going on on sunday so you can enjoy live music by the best bands of all time!

            </div>

        </div>

    </div>
    <!--endregion-->

</div>
