<div id="dashboard" class="container-fluid p-4">

    <div class="d-flex flex-row">

        <!--region news and update section-->
        <div id="newsandupdatesdashboard" class="flex-column d-flex flex-wrap align-self-start text-white py-2 px-3 rounded">
            <div>
                <strong class="text-green">Important updates</strong>
                <p>
                    It’s giving Tuesday – vinyl release of AWMH Metallica’s concert available for pre-order:
                    Available February 1, 2019 at independent retail around the world and digital and streaming services with pre-orders beginning today in the Metallica Store and
                    in our European store. In addition to the pre-order on the vinyl, the Met Store will also feature a limited-edition etched glass featuring the iconic Pushead artwork
                    for “One” with all net proceeds donated to AWMH, also in honor of Giving Tuesday. The etched glass will go on sale at 1 PM Pacific Time only in the Metallica Store.
                </p>
            </div>
        </div> <!--make this scrollable if too small-->
        <!--endregion-->

        <!--region shortcut container-->
        <div id="shortcutcontainer" class="d-flex flex-column  align-items-end w-25 ml-auto mr-5 my-5">

            <div id="registershortcut" class=" w-100 mb-auto" *ngIf="sessionAccount == null"> <!--if not logged in, show this-->
                <button routerLink="/register" class="btn-warning rounded border-0 py-3 w-100"><strong>Register now!</strong></button>
            </div><!--register shortcut-->

            <div id="buyticketshortcut" class=" w-100 mt-auto" *ngIf="sessionTicket == null">
                <button [ngx-scroll-to]="'buyticket'" class="btn-warning rounded border-0 py-3 w-100"><strong>Buy your ticket now!</strong></button>
            </div> <!--buy ticket shortcut-->

        </div>
        <!--endregion-->

    </div>

</div>
